name: Publish-Migration-Script

on:
  workflow_dispatch:
  release:
    types: [released]

jobs:
  generate_migrations:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    environment: prod
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up environment variables
        run: echo "MIGRATION_FILE_PATH=migrations/migration-${{ github.event.release.tag_name }}.sql" >> $GITHUB_ENV
          

      - name: Generate Migration Script
        env:
          ASPNETCORE_ENVIRONMENT: Production
          PATH: ${{ env.MIGRATION_FILE_PATH }}
        run: |
          dotnet tool install --global dotnet-ef
          dotnet tool restore
          dotnet ef migrations script -o "${PATH}" -i -v --project NoteAPI --startup-project NoteAPI

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Upload Migration Script to GCP Bucket
        id: upload-to-bucket
        uses: google-github-actions/upload-cloud-storage@v2
        with:
          path: '${{ env.MIGRATION_FILE_PATH }}'
          destination: 'prod-note-app/migrations/'


  share_url:
    needs: generate_migrations
    runs-on: ubuntu-latest
    steps:
      - name: Display File
        run: echo "File URL:https://console.cloud.google.com/storage/browser/_details/prod-note-app/${{ env.MIGRATION_FILE_PATH }};tab=live_object"
