name: Prod-Migrate-Database

on:
  release:
    types: [released]

jobs:
  update_cloud_sql:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Generate Migration Script
        run: |
          dotnet tool install --global dotnet-ef
          dotnet tool restore
          set ASPNETCORE_ENVIRONMENT=Production && dotnet ef migrations script -o migrations.sql -i -v  --project NoteAPI --startup-project NoteAPI
          mkdir migrations
          cp migrations.sql migrations/
          echo "Migration script generated"

      - name: Set up Google Cloud CLI
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Update Cloud SQL Schema
        run: |
          INSTANCE_NAME=${{ secrets.GCP_SQL_INSTANCE_NAME }}
          gcloud sql import sql $INSTANCE_NAME ./migrations/migrations.sql
