name: Publish-Migration-Script

on:
  workflow_dispatch

jobs:
  generate_migrations:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    environment: prod
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get release version
        id: get_release_version
        run: echo "::set-output name=version::${GITHUB_REF#refs/tags/}"

      - name: Generate Migration Script
        env:
          ASPNETCORE_ENVIRONMENT: Production
          RELEASE_VERSION: ${{ github.event.inputs.release-version }}
        run: |
          dotnet tool install --global dotnet-ef
          dotnet tool restore
          dotnet ef migrations script -o "migrations/migration-${RELEASE_VERSION}.sql" -i -v --project NoteAPI --startup-project NoteAPI
          echo "Migration script generated"
          echo "File path: $(pwd)/migrations/migration-${RELEASE_VERSION}.sql"

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Upload Migration Script to GCP Bucket
        uses: google-github-actions/upload-cloud-storage@v2
        with:
          path: 'migrations/migration-${{ github.event.inputs.release-version }}.sql'
          destination: 'gs://prod-note-app/migrations/'
