name: Build and Deploy Docker Image

on:
  workflow_run:
    workflows: ["Prod-Migrate-Database"]
    types: [completed]
    
jobs:

  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    environment: prod
    steps:

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Get release version
        id: get_release_version
        run: echo "::set-output name=version::${GITHUB_REF#refs/tags/}"

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/note-api:${{ steps.get_release_version.outputs.version }} .
          docker tag ${{ secrets.DOCKER_USERNAME }}/note-api:${{ steps.get_release_version.outputs.version }} ${{ secrets.DOCKER_USERNAME }}/note-api:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/note-api:${{ steps.get_release_version.outputs.version }}
          docker push ${{ secrets.DOCKER_USERNAME }}/note-api:latest
