name: Prod-Migrate-Database

on:
  workflow_run:
    workflows: ["Publish-Migration-Script"]
    types: [completed]

jobs:
  update_cloud_sql:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    environment: prod
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Get release version
        id: get_release_version
        run: echo "::set-output name=version::${GITHUB_REF#refs/tags/}"
        if: startsWith(github.ref, 'refs/tags/')

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
          
      - name: Set up Google Cloud CLI
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Update Cloud SQL Schema
        run: |
          gcloud sql import sql note-app "gs://prod-note-app/migrations/migration-${{ steps.get_release_version.outputs.version }}.sql"
