name: Test

on:
  workflow_dispatch
  
jobs:
  update_cloud_sql:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
          
      - name: Set up Google Cloud CLI
        uses: 'google-github-actions/setup-gcloud@v2'
      
      - name: Install mssql-cli
        run: |
          sudo apt-get update
          sudo apt-get install mssql-cli
      
      - name: Execute script in Cloud SQL
        run: |
          gcloud sql connect ${{ secrets.GCP_SQL_INSTANCE_NAME }} --user=root --database=NoteApp
