name: Test

on:
  workflow_dispatch
  
jobs:
  generate_migrations:
    name: Generate Migration File 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: 'Create release name'
        run: |-
         echo "RELEASE_NAME=${{ env.APP }}-${GITHUB_SHA::7}-${GITHUB_RUN_NUMBER}" >> ${GITHUB_ENV}
        
      - name: Check for pending model changes
        run: |
          dotnet tool install --global dotnet-ef
          dotnet tool restore
          dotnet ef migrations has-pending-model-changes --project NoteAPI --startup-project NoteAPI
          if [ $? -ne 0 ]; then
          echo "There are pending model changes that need to be added to migrations."
          exit 1
          fi
